$color_1: rgba(255, 255, 255, 0.87);
$color_2: #646cff;
$color_3: #535bf2;
$color_4: #213547;
$color_5: #747bff;
$font-family_1: Inter, Avenir, Helvetica, Arial, sans-serif;
$background-color_1: #242424;
$background-color_2: #ffffff;

:root {
  font-family: $font-family_1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: $color_1;
  background-color: $background-color_1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: $color_2;
  text-decoration: inherit;
  font-weight: 500;
  color: $color_2;
  text-decoration: inherit;
  &:hover {
    color: $color_3;
    color: $color_3;
  }
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (prefers-color-scheme: light) {
  :root {
    color: $color_4;
    background-color: $background-color_2;
  }
  a {
    &:hover {
      color: $color_5;
    }
  }
}
